<!DOCTYPE html>
<html>
<head>
    <title>CreateTable</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <form name="CreateTable"  method="POST">
    <label>Name</label><input type="text" name="studentName"/>
    <label>Class</label><input type="text" name="className" />
    <label>Age</label><input type="number" name="age" />
    <label>Marks</label><input type="number" name="marks" />
    <label>Total Marks</label><input type="number" name="totalMarks" />
    <button type="submit" value="Create">CreateTable</button>
    </form>
</body>

</html>