<!DOCTYPE html>
<html>
<head>
    <title>DeleteTable</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <form id="delete" action="/delete/<%= studentdetails._id %>" method="POST">
      </form>
</body>
</html>