<!DOCTYPE html>
<html>
<head>
    <title>table1</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/javascripts/table.js"></script>
<script>
  var ide;
function deleteFunction(id){
  // console.log(id);
ide = id;
}
function testF(){
  console.log(ide);
  // document.querySelector("#yesLink").href = ide;
  window.location.href = ide
}
</script>
  
</head>
  <body class="txt">
     <h1>Student Details</h1><br>
<table class= "txt">
   <tr>
        <th>StudentName</th>
        <th>Class</th>
        <th>Age</th>
        <th>Marks</th>
        <th>Total Marks</th>
        <th colspan="2">Actions</th>
   </tr>
   <tr id="delete">
        <% for (i = 0; i < table.length; i++) { %>
            <tr>
              <td> <%= table[i].studentName %></td>
              <td><%= table[i].className %></td>
              <td><%=table[i].age %></td>
              <td><%=table[i].marks %></td>
              <td><%=table[i].totalMarks%></td>
              <td><a class="btn btn-primary" href = "/update/<%= table[i]._id %>">Update</a></td>
              <td><a id="delete<%= i %>" class="btn btn-primary" data-target="#myModal" onclick="deleteFunction('/delete/<%= table[i]._id %>')" data-toggle="modal" href = "/delete/<%= table[i]._id %>">Delete</a></td>
              </tr>
             
            <% }  %>
           
            
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Delete?</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                     Are you sure you want to delete?
                    </div>
                    <div class="modal-footer">
                      <button type="button" id="deleteData" class="btn btn-primary" data-target="#delete" onclick="testF()" data-dismiss="modal" > <a id = "yesLink" >YES</a></button>
                       <button type="button" class="btn btn-danger" data-dismiss="modal" value="Retain">NO</button>
                    </div>
                    
                  </div>
                </div>
              </div>
              
            </div>
            </tr>
       </table><br>
    <div><form action='/create'><button class="btn btn-primary">create</button></form></div>
<script>

function myFunction() {
  console.log("test");
}
</script>
</body>
</html>