<!DOCTYPE html>
<html>
<head>
    <title>UpdateTable</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

    <form name="UpdateTable" action="/updated/<%= studentdetails._id %>" method="POST">
    <label>Name</label><input type="text" name="studentName" value="<%= studentdetails.studentName %>"/>
    <label>Class</label><input type="text" name="className" value="<%= studentdetails.className %>"/>
    <label>Age</label><input type="number" name="age" value="<%= studentdetails.age %>"/>
    <label>marks</label><input type="number" name="marks" value="<%= studentdetails.marks %>"/>
    <label>Total Marks</label><input type="number" name="totalMarks" value="<%= studentdetails.totalMarks %>" />
    <button type="submit" value="update">Update</button>
    </form>
</body>


















</html>