<!DOCTYPE html>
<html>
  <head>
    <title>User List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>User List</h1>
    <ul>
      <% for (i = 0; i < userlist.length; i++) { %>
          <li><a href="mailto:' <%= userlist[i].email %> '"> <%= userlist[i].username %></a></li>
        <% } %>
      
      
    </ul>
  </body>
</html>