body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  background-color: whitesmoke;
}
.txt {
  margin-left:auto; 
  margin-right:auto;
  text-align: center;
}